@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Роли";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Administration">Создать новую роль</a>
    <a asp-action="ListUsers" asp-controller="Administration">Перейти к списку пользователей</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">
                    Редактировать
                </a>
                <a href="#" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Не создано ни одной роли
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Для создания роли нажмите на кнопку
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Administration" asp-action="CreateRole">
                Создать роль
            </a>
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}