@{
    ViewData["Title"] = "О проверке";
}
<h1>@ViewData["Title"]</h1>
<h2>Что такое ПУДы и зачем их проверять?</h2>

<p>Программа учебной дисциплины - это основной документ о дисциплине. В нем описаны важные кусочки преподаваемого курса: изучаемые темы, элементы контроля, формулы оценивания, дополнительные материалы для подготовки и так далее. Содержание ПУДов строго регулируется документами Вышки, например, <a href ="https://www.hse.ru/docs/412086145.html">Положением о промежуточной аттестации</a> или Положением о ПУД.</p>
<p>Проверку ПУДов нужно проводить потому, что далеко не все они составлены четко по заданной структуре. Часто бывает так, что составитель ПУДа не указывает важные моменты аттестации: порядок пересдач, материалы для проверки знаний, формулы оценивания. Из-за отсутствия регламентации таких моментов во время подведения итогов дисциплины могут возникнуть проблемы с оценками студентов. Мы проводим проверку для того, чтобы студенты могли доверять ПУДам и опираться на них при планировании своего обучения.</p>
<p>Результаты проверки мы направляем академическим руководителям программ, руководителям кафедр и департаментов, а также деканам факультетов.</p>
